<ion-content scroll="false" class="no-padding transparent-bg" ng-controller="ydCardDisplayCtrl">
  <div id="app-logo" class="row">
    <div class="col col-33 col-offset-33">
      <img src="img/yuudee_logo.svg" ng-click="enterEditMode()" />
    </div>
  </div>

  <div class="grid-display">
    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" class="full-height">
      <ion-slide class="full-height align-center-vertical" ng-repeat="page in cards">
        <div class="row" ng-repeat="r in page">
          <div ng-class="{'col col-50': col === 2, 'col col-33': col === 3}" ng-repeat="card in r">
            <yd-card title="{{card.title}}" image="{{card.images[0]}}"></yd-card>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </div>

  <!-- settings layer -->
  <div id="app-settings-header" ng-show="isEditMode">
    <div class="row align-center">
      <div class="col col-25">
        <div class="yd-button" ng-click="exitEditMode()">结束编辑</div>
      </div>
      <div class="col col-50">
        <div class="yd-button">
          <select>
            <option selected>课程标题</option>
            <option>课程2</option>
            <option>课程3</option>
          </select>
        </div>
      </div>
      <div class="col col-25">
        <div class="yd-button" ng-click="goToResource()">素材库</div>
      </div>
    </div>
  </div>

  <div id="app-settings-footer" class="row row-bottom align-center" ng-show="isEditMode">
    <div class="col col-25">
      <div class="yd-button">新建</div>
    </div>
    <div class="col col-25 col-offset-50">
      <div class="yd-button">设置</div>
    </div>
  </div>

  <!-- drawer layer -->
  <!--<div class="drawer-container">-->
    <!--<div class="drawer-background">-->
      <!--<ion-slide-box>-->
        <!--<ion-slide ng-repeat="i in page">-->

        <!--</ion-slide>-->
      <!--</ion-slide-box>-->
    <!--</div>-->
    <!--<div class="drawer-back"></div>-->
  </div>


</ion-content>

