<ion-content scroll="false" class="no-padding transparent-bg" ng-controller="ydCardDisplayCtrl">
  <div id="display-container" class="no-padding">
  <div id="app-logo" class="row">
    <div class="col col-33 col-offset-33">
      <img src="img/yuudee_logo.svg" />
    </div>
  </div>
  <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" class="full-height">
    <ion-slide class="full-height align-center-vertical">
      <div class="row">
        <div class="col col-50">
          <yd-card title="card 1"></yd-card>
        </div>
        <div class="col col-50">
          <yd-card title="card 2"></yd-card>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <yd-card title="card 3"></yd-card>
        </div>
        <div class="col col-50">
          <yd-card title="card 4"></yd-card>
        </div>
      </div>
    </ion-slide>
    <ion-slide class="full-height align-center-vertical">
      <div class="row">
        <div class="col col-50">
          <yd-card title="card 5"></yd-card>
        </div>
        <div class="col col-50">
          <yd-card title="card 6"></yd-card>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <yd-card title="card 7"></yd-card>
        </div>
        <div class="col col-50">

        </div>
      </div>
    </ion-slide>
  </ion-slide-box>
  </div>


  <!-- settings layer -->
  <div id="app-settings-header">
    <div class="row align-center">
      <div class="col col-25">
        <button class="button button-block yd-button icon-left ion-locked">
          结束编辑
        </button>
      </div>
      <div class="col col-50">
        <button class="button button-block yd-button icon-right ion-arrow-down-b">
          课程标题
        </button>
      </div>
      <div class="col col-25">
        <button class="button button-block yd-button icon-left ion-images">
          素材库
        </button>
      </div>
    </div>
  </div>

  <div id="app-settings-footer">

  </div>
</ion-content>

