@import url("../components/yd-card/yd-card.css");

/* Empty. Add your own CSS if you like */
#app-background {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0px;
}

#app-logo {
  height: 18%;
  padding: 5% 0 0 0;
  margin-bottom: 5%;
  text-align: center;
}

/* Should find out why height settings are not working.
   Should limit the height otherwise layout would be messy on 4:3 ratio devices */
#app-logo img {
  max-width:80%;
}

.no-padding {
  padding: 0 !important;
}

.full-height {
  height: 100%
}

.align-center {
  text-align: center;
}

.align-center-vertical {
  vertical-align: middle;
}

.no-padding {
  padding: 0 !important;
}

.transparent-bg {
  background: transparent;
}

/* Settings Layer */
#app-settings-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

#app-settings-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.yd-button {
  border-radius: 5px;
  background: url("../img/button-raw.png");
  border-style: solid;
  border-color: rgb(105,61,34);
  border-width: 1px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: rgb(230,220,210);
  font-weight: bold;
}

/* Drawer Layer */
.drawer-container {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  background: url("../img/child_incat_woodbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 15%;
}

.drawer-back {
  position: absolute;
  content: url("../img/child_incat_backbutton.png");
  height: 12%;
  top: -10%;
  left: 5%;
}
