@import url("../components/yd-card/yd-card.css");

/* Empty. Add your own CSS if you like */
#app-background {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0px;
}

#app-logo img {
  max-width:100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.no-padding {
  padding: 0 !important;
}

.full-height {
  height: 100%
}

.align-center {
  text-align: center;
}

.align-center-vertical {
  vertical-align: middle;
}

.no-padding {
  padding: 0 !important;
}

.transparent-bg {
  background: transparent;
}

/* Settings Layer */
#app-settings-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background: red;
  opacity: 0.3;
}

.yd-button,
.yd-button:before{
  font-size:10px !important;
  overflow: hidden;
  white-space: nowrap;
  padding: 0px;
  background-image: url("../img/button.png");
  background-repeat:no-repeat;
  background-position: center;
  background-size: 100% 100%;

  border-image: url("../img/button.png") 20 20 20 32 repeat;

}
