@import url("../components/yd-card/yd-card.css");

/* Empty. Add your own CSS if you like */
#app-background {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0px;
}

#app-logo {
  height: 18%;
  padding: 5% 0 0 0;
  text-align: center;
}

.grid-display {
  height: 100%;
  margin-top: 5%;
}

/* Should find out why height settings are not working.
   Should limit the height otherwise layout would be messy on 4:3 ratio devices */
#app-logo img {
  max-width:80%;
}

.no-padding {
  padding: 0 !important;
}

.full-height {
  height: 100%
}

.align-center {
  text-align: center;
}

.align-center-vertical {
  vertical-align: middle;
}

.no-padding {
  padding: 0 !important;
}

.transparent-bg {
  background: transparent;
}

/* Settings Layer */
#app-settings-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

#app-settings-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.yd-button {
  border-radius: 5px;
  background: url("../img/button-raw.png");
  border-style: solid;
  border-color: rgb(105,61,34);
  border-width: 1px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: rgb(230,220,210);
  font-weight: bold;
}

/* Drawer Layer */
.drawer-container {
  position: absolute;
  top: 23%;
  left: 0;
  right: 0;
  background: url("../img/child_incat_woodbg.png") no-repeat;
  background-size: cover;
  margin-top: -2.72%;
  margin-left: -5.88%;
  padding-top: 2.72%;
  padding-left: 5.88%;
  max-height: 810px;
  max-width: 885px;
}

/*.drawer-container:after {*/
  /*content: "";*/
  /*display: block;*/
  /*width: 100%;*/
  /*padding-top: 90.4%;*/
/*}*/

/*.drawer-background {*/
  /*content: url("../img/child_incat_woodbg.png");*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*top: 2.72%;*/
  /*left:5.88%;*/
  /*bottom: 4.57%;*/
  /*right: 0%;*/
/*}*/

.drawer-back {
  position: absolute;
  content: url("../img/child_incat_backbutton.png");
  height: 16.33%;
  top: -13.61%;
  left: 10.88%;

}
